body{
	background-color: cornsilk;
	font-family: 'Courier New', Courier, monospace;
}

.header{
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	color: darkolivegreen;
	padding: 7px;
	border-bottom: 2px #ccc solid;
}

.menu{
	border-bottom: 2px #ccc solid;
}

.menu ul{
	padding: 0;
	list-style: none;
    list-style-type: none;
    margin: 10px;
	margin-left: 10px;
	display: flex;
}

li > div{
	width: 180px;
}

li {
	border: 1px #FAF solid;
    margin: 5px;
    padding: 3px;
    border-radius: 20px;
    padding-left: 10px;
	cursor: pointer;
	text-align: center;
	border-color: darkolivegreen;
}

.button:hover{
	border: 1px #a8a solid;
	background: lemonchiffon;
}

a {
	color: olive;
	font-weight: bold;
}

.content{
	display: flex;
    flex-wrap: wrap;
}

.directionColumn{
	display: flex;
	flex-direction: column; 
}

.content img{
	max-width: 270px;
	max-height: 330px;
	border-radius: 6px;
	min-width: 200px;
	min-height: 260px;
}

.goods{
	margin: 5px;
    /* display: flex; */
    justify-content: center;
	align-items: center;
	padding: 5px;
	width: 23%;
}

.title {
	color:  darkolivegreen;
	text-align: center;
}

.buttonRow{
	display: flex;
}
.buttonAdd, .buttonDel{
	margin-left: 7px;
	margin-right: 7px;
	border: 1px darkolivegreen solid;
	border-radius: 3px;
	color:  darkolivegreen;
}

.buttonAdd:hover, .buttonDel:hover{
	border: 1px #a8a solid;
	background: lemonchiffon;
}

.infoPrice{
	text-align: center;
	vertical-align: middle;
}

.goodsInfo{
	display: block;
}

table {
	width: 100%;
	margin-top: 10px;
	color: darkolivegreen;
}

table td{
	border: 1px darkolivegreen solid;
}

/* table td:hover{
	border: 1px red solid;
} */

.colName{
	background-color: lightsteelblue;
}

.colValue{
	background-color: linen;
}

.footer{
	border-top: 2px #ccc solid;
	display: none;
}

.popup{
	position: fixed;
    width: 100%;
    height: 100vh;
    bottom: 0;
    left: 0;
	/* display: none; */
}

.cover{
	position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    top: 0;
    right: 0;
    opacity: 0.3;
	z-index: 5;
}

.popup-content{
	background: #FFF;
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
}

.popup-content img{
	width: 200px;
}
